<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YxServlet</servlet-name>
    <servlet-class>com.servlet.YxServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BjServlet</servlet-name>
    <servlet-class>com.servlet.BjServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>com.servlet.StuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddQjServlet</servlet-name>
    <servlet-class>com.servlet.AddQjServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QjServlet</servlet-name>
    <servlet-class>com.servlet.QjServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KqServlet</servlet-name>
    <servlet-class>com.servlet.KqServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YxServlet</servlet-name>
    <url-pattern>/YxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BjServlet</servlet-name>
    <url-pattern>/BjServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/StuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddQjServlet</servlet-name>
    <url-pattern>/AddQjServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QjServlet</servlet-name>
    <url-pattern>/QjServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KqServlet</servlet-name>
    <url-pattern>/KqServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
